<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>cemmer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>

  <jsp-config>
    <taglib>
      <taglib-uri>https://jakarta.ee/xml/ns/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/lib/jakarta.servlet.jsp.jstl-api-2.0.0</taglib-location>
    </taglib>
  </jsp-config>
  
 <!--  <servlet>
    <servlet-name>IndexController</servlet-name>
    <servlet-class>com.wmdigital.controller.IndexController</servlet-class>
  </servlet>

  Mapear o servlet para as URLs
  <servlet-mapping>
    <servlet-name>IndexController</servlet-name>
    <url-pattern>/index</url-pattern>
    <url-pattern>/autenticacao</url-pattern>
  </servlet-mapping> -->
  
</web-app>